@import "@unocss/reset/tailwind.css";
@unocss all;

/* translate-z-0 可以防止 svg 在 Firefox 上模糊，strange. */
svg {
    transform: translateZ(0);
    fill: currentColor;
    transition-property: fill;
    transition-timing-function: ease-in-out;
    transition-duration: 150ms;
}

.dark {
    scrollbar-color: dark;
    color-scheme: dark;
}

body {
    color: black;
}

.dark body {
    color: rgb(229 231 235)
}